<h1 class="heading">Select your Tribes</h1>

<div id="my_centered_buttons">
     
<%=form_for @user, :url => user_tribe_path do |f|%>
          
          <%= f.collection_check_boxes(:tribe_ids, Tribe.all, :id, :name) do |b| %>
             <%= b.label class:"small-text-white"%>
            <%= b.check_box %>
          <% end %>
        
          <br>
          <br>
          <div id="my_centered_buttons">
          <%=f.submit "Select my Tribes", class:"btn"%>
          </div>
          <%end%>
  </div>
          

