<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold"></h1>
          </div>
        <div class="col-lg-8 align-self-baseline">
        <%= form_tag('/login') do %>
  
       <%=label_tag 'name'%>
       <%=text_field_tag 'name'%><br>

       <%=label_tag 'password'%>
     <%=password_field_tag 'password'%><br></h2>

  <br>

   
  
  <%= submit_tag 'Login', class: "btn btn-primary btn-xl js-scroll-trigger" %>
          <p class="text-white-75 font-weight-light mb-5"> 
          
         
<% end %>
</p>
         
        </div>
      </div>
    </div>
  </header>


          
         
