<%if @tribe.errors.any?%>
  <div id= "error_explanation">
  <h2>There were some errors:</h2>
  <%@tribe.errors.full_messages.each do |message|%>
    <li><%=message%></li>
    <%end%>
    <%end%>
    </div>

<div class= "small-text-white">
<%= form_for @tribe do |f| %>


  <%= f.label :name %>
  <%= f.text_field :name %> <br>
<br>

 <%= f.label :image %>
  <%= f.file_field :image%> <br>
  <br>

    <%= f.label :url %>
  <%= f.text_field :url %> <br>
  <br>

  <%= f.submit class: "btn" %>
<% end %>
</div>