<h1>Create a new tribe</h1>

<%= form_for @tribe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
<br>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %> <br>
  <br>

    <%= f.label :url %>
  <%= f.text_field :url %> <br>
  <br>

  <%= f.submit "Create Tribe" %>
<% end %>