<h1><%=@tribe.name%></h1>

<%= image_tag @tribe.main_image %>

<p>Upcoming Rides<p>

<%@tribe.rides.each do |ride|%>
<p><%=link_to "#{ride.instructor} #{ride.time} #{ride.format} #{ride.duration}", ride_path(ride)%></p>
<%end%>

<%if @user.admin%>
<%=button_to "Add A Ride", new_tribe_ride_path(@tribe.id), method: :get%>
<%end%>

<%=button_to "Home", user_path(@user), method: :get%>