<h1><%=@tribe.name%></h1>

<p>Upcoming Rides<p>

<%@tribe.rides.each do |ride|%>
<p><%=ride.date%> <%=ride.instructor%> <%=ride.time%><%=ride.format%> <%=ride.duration%></p>
<%end%>

<%if @user.admin%>
<%=button_to "Add A Ride", new_ride_path, method: :get%>
<%end%>