<h1 class="heading"><%=@tribe.name%> - <%=link_to "#{@tribe.users.count} Member(s)", tribe_users_path(@tribe)%></h1>
<%if @tribe.owner?(@user)%>
  <h2 class="small-text-white">(You own this tribe!)</h2>
  <%end%>

<div class="center">
<%= image_tag @tribe.main_image %>
</div>

<p class="small-text-white">Upcoming Rides<p>

<%@rides_sorted.each do |ride|%>
  <p class="small-text-white"><%=link_to "#{display_date(ride.date)} -  #{ride.instructor} -  #{display_time(ride.time)} #{ride.format} -  #{ride.duration} mins", tribe_ride_path(@tribe, ride), class: "small-text-white"%></p>

  <%if ride.format == "Recorded" && ride.original_date != nil%>
    <p class="small-text-white">Originally Broadcast on <%="#{display_date(ride.original_date)}"%> at <%="#{display_time(ride.original_time)}"%> <p>
  <%end%>

  <p class="small-text-white"><%=number_of_riders(ride)%> Riders<p>

  <%if @user.participating?(ride)%>
    <p class="small-text-white">You are IN!!</p>
    <%else%>
    <div id="my_centered_buttons">
     <%=link_to "Join This Ride", "#{@tribe.id}/rides/#{ride.id}/join_ride", class: "btn"%>
     </div>
  <%end%>

  <br>
 
   <%if @user.admin && @tribe.owner?(@user)%>
   <div id="my_centered_buttons">
     <%=button_to "Edit Ride", edit_tribe_ride_path(@tribe, ride), method: :get, class: "btn-small"%>
     <%=button_to "Delete Ride", ride_path(ride), method: :delete, class: "btn-small" %>
     </div>
   <%end%>
  <hr>
<%end%>


<div id="my_centered_buttons">
<%if @user.admin && @tribe.owner?(@user)%>
 <%=button_to "Edit Tribe", edit_tribe_path(@tribe), method: :get, class: "red-btn"%>
  <%=button_to "Add A New Ride", new_tribe_ride_path(@tribe.id), method: :get, class: "red-btn"%>
<%end%>

<%if !@tribe.owner?(@user)%>
 <%=button_to "Leave Tribe", user_tribe_path, method: :delete, class:"btn"%>
<%end%>

<%if @user.admin && @tribe.owner?(@user)%>
  <%=button_to "Delete Tribe", tribe_path(@tribe), method: :delete, class: "red-btn"%>
<%end%>
</div>

<hr>

<div id="my_centered_buttons">
<%=button_to "Home", user_path(@user), method: :get, class: "btn"%>
<div>

 