<h1><%=@tribe.name%> - <%=@tribe.users.count%> Members</h1>

<%= image_tag @tribe.main_image %>

<p>Upcoming Rides<p>

<%@rides_sorted.each do |ride|%>
  <p><%=link_to "#{display_date(ride.date)} -  #{ride.instructor} -  #{display_time(ride.time)} #{ride.format} -  #{ride.duration} mins", tribe_ride_path(@tribe, ride)%></p>

  <%if ride.format == "Recorded" && ride.original_date != nil%>
    <p>Originally Broadcast on <%="#{display_date(ride.original_date)}"%> at <%="#{display_time(ride.original_time)}"%> <p>
  <%end%>

  <p><%=number_of_riders(ride)%> Riders<p>

  <%if @user.participating?(ride)%>
    <p>You are IN!!</p>
    <%else%>
     <%=button_to "Join This Ride", "#{@tribe.id}/rides/#{ride.id}/join_ride", method: :get%>
  <%end%>
 
   <%if @user.admin && @tribe.owner?(@user)%>
     <%=button_to "Edit Ride", edit_tribe_ride_path(@tribe, ride), method: :get%>
     <%=button_to "Delete Ride", ride_path(ride), method: :delete %>
   <%end%>
  <hr>
<%end%>



<%if @user.admin && @tribe.owner?(@user)%>
  <%=button_to "Edit Tribe", edit_tribe_path(@tribe), method: :get%>
  <%=button_to "Add A New Ride", new_tribe_ride_path(@tribe.id), method: :get%>
<%end%>

<%=button_to "Leave Tribe", user_tribe_path, method: :delete%>
<%=button_to "Home", user_path(@user), method: :get%>