<h1 class="heading"><%=@tribe.name%> - <%=@users.count%> member(s) </h1>

<div class="small-text-white">
<%@users.each do |user|%>
<p><%=user.name%>
  <%if user.peloton_name != nil%>
    aka "<%=user.peloton_name%>"
  <%end%>
  <%if @tribe.owner?(user)%>
        - Head of Tribe
  <%end%></p>
<%end%>
</div>

<div id="my_centered_buttons">
<%=link_to "Back to #{@tribe.name}", tribe_path(@tribe), class: "btn"%>
</div>