 <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          
          <h2 class="text-white mt-0"><%=@user.name%> 
             <%if @user.peloton_name != nil%>
             aka "<%=@user.peloton_name%>"
            <%end%></h2>

        </div>
      </div>
    </div>
  </section>

<section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Your Joined Tribes</h2>
    

<%@user_tribes.each do |tribe|%>

  <%=link_to (image_tag (tribe.thumbnail)), tribe_path(tribe) %><br>  
  <%=link_to tribe.name, tribe_path(tribe)%><br>
  
  <%end%>

<br>
<%=button_to "Select My Tribes", edit_user_tribe_path, method: :get%>
<%=button_to "View All Tribes", tribes_path, method: :get%>
<%if @user.admin %>
  <%=button_to "Create A Tribe", new_tribe_path, method: :get%>
<%end%>
<hr>

<h2>My Upcoming Rides</h2>

<%@rides_sorted.each do |ride|%>
  <%=link_to "#{ride.tribe.name} - #{display_date(ride.date)} -  
  #{ride.instructor} -  #{display_time(ride.time)}  - 
  #{ride.format} -  #{ride.duration} mins", ride_path(ride)%> 


  <%if ride.format == "Recorded" && ride.original_date != nil%>
<p>Originally Broadcast on <%=display_date(ride.original_date)%> at <%=display_time(ride.original_time)%><p>
 <%else%>
 <br>
 <br>
<%end%>

  <%=button_to "Cancel Ride", user_ride_path(ride), method: :delete %> <br>
  
  <hr>
<%end%>


<%=button_to "Edit/Delete Profile", edit_user_path(@user), method: :get %>
<%=button_to "Log Out", logout_path %>

