<section class="page-section" id="services">
    <div class="container">
    <h1 class="text-center mt-0"> <%=@user.name%> 
        <%if @user.peloton_name != nil%>
             aka "<%=@user.peloton_name%>"
            <%end%></h1>
    
      <h2 class="text-center mt-0">Your Joined Tribes</h2>
      <hr class="divider my-4">
      <div class="row">
        
        <%@user_tribes.each do |tribe|%>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <%=link_to (image_tag (tribe.thumbnail)), tribe_path(tribe) %>
            <h3 class="h4 mb-2"> <%=link_to tribe.name, tribe_path(tribe)%></h3>
          </div>
        </div>
        <%end%>
       
       
        
        </div>
      </div>
    </div>
  </section>


<br>

<div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
          <a><%=link_to "Select My Tribes", edit_user_tribe_path, class:"btn btn-primary btn-xl js-scroll-trigger"%></a>
           <a><%=link_to "View All Tribes", tribes_path, class:"btn btn-primary btn-xl js-scroll-trigger"%></a>
           
           <%if @user.admin %>
             <a><%=link_to "Create A Tribe", new_tribe_path, class:"btn btn-primary btn-xl js-scroll-trigger"%><a>
          <%end%>
            
        </div>
      </div>



<%if @user.admin %>
  <%=button_to "Create A Tribe", new_tribe_path, method: :get%>
<%end%>
<hr>

<h2>My Upcoming Rides</h2>

<%@rides_sorted.each do |ride|%>
  <%=link_to "#{ride.tribe.name} - #{display_date(ride.date)} -  
  #{ride.instructor} -  #{display_time(ride.time)}  - 
  #{ride.format} -  #{ride.duration} mins", ride_path(ride)%> 


  <%if ride.format == "Recorded" && ride.original_date != nil%>
<p>Originally Broadcast on <%=display_date(ride.original_date)%> at <%=display_time(ride.original_time)%><p>
 <%else%>
 <br>
 <br>
<%end%>

  <%=button_to "Cancel Ride", user_ride_path(ride), method: :delete %> <br>
  
  <hr>
<%end%>


<%=button_to "Edit/Delete Profile", edit_user_path(@user), method: :get %>
<%=button_to "Log Out", logout_path %>

