<h3><%=@user.username%></h3>

<h2>Your Tribes </h2>


<%@user.tribes.each do |tribe|%>
  <%=link_to tribe.name, tribe_path%><br>
  <%= link_to image_tag(tribe.image_url), tribe_path%>
  <%end%>

<br>
<%=button_to "Select My Tribes", '/tribe_select', method: :get%>
<%if @user.admin %>
<%=button_to "Create A Tribe", new_tribe_path, method: :get%>
<%end%>

