<h3><%=@user.username%></h3>

<h2>Your Tribes </h2>


<%@user.tribes.each do |tribe|%>
  <%= image_tag tribe.thumbnail%><br>
  <%=link_to tribe.name, tribe_path(tribe)%><br>
  
  <%end%>

<br>
<%=button_to "Select My Tribes", '/tribe_select', method: :get%>
<%if @user.admin %>
<%=button_to "Create A Tribe", new_tribe_path, method: :get%>
<%end%>

