<h3><%=@user.username%></h3>

<h2>Your Tribes </h2>


<%@user.tribes.each do |tribe|%>
  <%=link_to (image_tag (tribe.thumbnail)), tribe_path(tribe) %><br>  
  <%=link_to tribe.name, tribe_path(tribe)%><br>
  
  <%end%>

<br>
<%=button_to "Select My Tribes", '/tribe_select', method: :get%>
<%if @user.admin %>
<%=button_to "Create A Tribe", new_tribe_path, method: :get%>
<%end%>
<br>
<%=button_to "Log Out", logout_path %>

