<h1><%=@tribe.name%><h1>
<h2>Edit a ride</h2>

<%= form_for @ride do |f| %>

  <%= f.hidden_field :tribe_id, :value => params[:tribe_id] %>

  <%= f.label :instructor %>
  <%= f.select :instructor, options_for_select([["Select One", ""], "Alex Toussant", "Ally Love", "Ben Alldis", "Christine D'Ercole", "Cody Rigsby", "Denis Morton", "Emma Lovewell", "Erik Jager", "Hannah Marie Corbin", "Hannah Frankson", "Irene Scholz", "Jenn Sherman", "Jess King", "Kendall Toole", "Leanne Hainsby", "Matt Wilpers", 
  "Olivia Amato", "Robin Arzon", "Sam Yo", "Tunde Oyeneyin"], @ride.instructor)  %><br>
<br>
  <%= f.label :date %>
  <%= f.date_field :date %> <br>
  <br>

  <%= f.label :time %>
  <%= f.time_field :time %> <br>
  <br>

  <%= f.label :duration %>
  <%= f.text_field :duration %> <br>
  <br>

    <%= f.label :format %>
  <%= f.select :format, options_for_select([["Select One", ""], "Live", "Recorded"], @ride.format) %><br>
  <br>

  <%= f.label :Original_broadcast_date %>
  <%= f.date_field :original_date %> <br>
  <br>

  <%= f.label :original_broadcast_time %>
  <%= f.time_field :original_time %> <br>
  <br>


  <%= f.submit "Edit Ride" %>
<% end %>