<h1><%=@tribe.name%><h1>
<h2>Add a new ride</h2>

<%= form_for @ride do |f| %>
  <%= f.label :instructor %>
   <%= f.text_field :instructor %><br>
<br>
  <%= f.label :date %>
  <%= f.date_field :date %> <br>
  <br>

  <%= f.label :time %>
  <%= f.time_field :time %> <br>
  <br>

  <%= f.label :duration %>
  <%= f.text_field :duration %> <br>
  <br>

    <%= f.label :format %>
  <%= f.text_field :format %> <br>
  <br>

  <%= f.submit "Add Ride" %>
<% end %>