<h1 class="heading"><%="#{display_ride(@ride)}"%></h1>

<div class="small-text-white">
  <%if @ride.format == "Recorded" && @ride.original_date != nil%>
    <p>Originally Broadcast on <%=display_original(@ride)%></p>
  <%elsif @user.participating?(@ride)%>
    <p>You are IN!!</p>
  <%end%>
</div>
<hr>

<h3 class="heading">Participating Users</h3>
<%=render 'participating'%>

<%if @user.participating?(@ride)%>
  <div id="my_centered_buttons">
    <%=button_to "Leave Ride", user_ride_path(@ride), method: :delete ,class:"btn"%>
  </div>
<% else %>
  <hr>
<%=render 'milestone'%>
<%end%>

<hr>
<div id="my_centered_buttons">
  <%=link_to "Back to #{@tribe.name}", tribe_path(@tribe), class:"btn"%>
  <%=link_to "Home", user_path(@user), class:"btn"%>
</div>
