<h1><%="#{@ride.date.strftime("%A %d %B")} -  #{@ride.instructor} -  #{@ride.time.strftime("%I:%M %p")}  - #{@ride.format} -  #{@ride.duration} mins"%></h1>

<%if @ride.format == "Recorded" && @ride.original_date != nil%>
<p>Originally Broadcast on <%="#{@ride.original_date.strftime("%A %d %B")}"%> at <%="#{@ride.original_time.strftime("%I:%M %p")}"%> <p>
<%end%>

<%if @user.participating?(@ride)%>
  <p>You are IN!!</p>
<%end%>

<h3>Participating Users</h3>

<%@ride_users.each do |user|%>
    <p><%=user.username%>
    <%if user.peloton_name != nil%>
       aka "<%=user.peloton_name%>"
    <%end%></p>
<%end%>

<%if @user.participating?(@ride)%>
  <%=button_to "Cancel Ride", user_ride_path(@ride), method: :delete %>
  <% else %>
  <%=button_to "Join This Ride", "#{@ride.id}/join_ride", method: :get%>
<%end%>

<%=button_to "Back to #{@tribe.name}", tribe_path(@tribe), method: :get%>
<%=button_to "Home", user_path(@user), method: :get%>