<h1><%="#{display_date(@ride.date)} -  #{@ride.instructor} -  #{display_time(@ride.time)}  - #{@ride.format} -  #{@ride.duration} mins"%></h1>

<%if @ride.format == "Recorded" && @ride.original_date != nil%>
<p>Originally Broadcast on <%="#{display_date(@ride.original_date)}"%> at <%="#{display_time(@ride.original_time)}"%> <p>
<%end%>

<%if @user.participating?(@ride)%>
  <p>You are IN!!</p>
<%end%>

<h3>Participating Users</h3>

<%@ride_users.each do |user|%>
    <p><%=user.name%>
    <%if user.peloton_name != nil%>
       aka "<%=user.peloton_name%>"
    <%end%>
    <%if user.milestone_present?(@ride)%>
       - Milestone: <%=user.display_milestone(@ride)%>
    <%end%></p>
<%end%>

<%if @user.participating?(@ride)%>
  <%=button_to "Cancel Ride", user_ride_path(@ride), method: :delete %>
  <% else %>
  
<hr>
  <%= form_for @user_ride do |f| %>
  <%= f.hidden_field :ride_id, value: @ride.id %>
  <%= f.label :milestone, "Milestone? Leave blank, select one or write your own" %>:
  <%= f.text_field :milestone, list: 'milestones_autocomplete' %>
  <datalist id="milestones_autocomplete">
    <% @user_rides.each do |ride| %>
      <option value="<%= ride.milestone %>"></option>
    <% end %>
  </datalist>

  <br>
  <br>
  <%= f.submit "Join This Ride!" %>
<% end %>


<%end%>

<hr>

<%=button_to "Back to #{@tribe.name}", tribe_path(@tribe), method: :get%>
<%=button_to "Home", user_path(@user), method: :get%>