<!DOCTYPE html>
<html>
  <head>
    <title>TribeRide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    
  </head>

  <body>
  <body id="page-top">

  

  </body>
    <%= yield %>
  </body>



  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright © 2020 Lindsey Wells</div>
    </div>
  </footer>

</html>
